/* colors */
$bg-color: #f8f8f8;
$secondary-bg-color: #fff;
$blue-btn-bg: #007AFF;
$primary-color: #fbbb00;
$secondary-color: #505050;
$secondary-color-accent: #303237;
$success-color: #6ac76a;
$error-color: #ef3b4d;
$text-color: #333;
$gradient-bg: linear-gradient(0deg, #fb9f00 0%, #fbbb00 100%);
$gradient-hover-bg: linear-gradient(0deg, #fbbb00 0%, #fbbb00 100%);
$blue-secondary-color: #33a0ff;
$green-secondary-color: #09d009;
$orange-secondar-color: #ff8c00;
$subtitle-font-color: #aaaaaa;
$placeholder-color: #9e9d9d;